main {
    text-align: center;
}
body {
    background-color: lightsalmon;
    font-family: Impact, Haettenschweiler, 'Arial Narrow', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    color: #333;
}
.start-recording-button {
    font-size: 70px;
    cursor: pointer;
    opacity: 0.75;
}
.start-recording-button:hover {
    opacity: 1.0;
}
.stop-recording-button {
    font-size: 70px;
    cursor: pointer;
    opacity: 0.75;
}
.stop-recording-button:hover {
    opacity: 1.0;
}
.delete-recording-button {
    font-size: 70px;
    cursor: pointer;
    opacity: 0.75;
}
.delete-recording-button:hover {
    opacity: 1.0;
}